.head {
	//border: 1px solid black;
	height: 100px;
	background-color: rgba(196, 61, 63, 0.86);
	color: #f7f7f7;
	border-radius: 4px;
	
}

a {
    text-decoration: none;
    //color: white;
}

#download { 
	display: inline-block;
	position: relative;
	top: 30px;
	left: 65px;
 //   margin-top: 65px;
 //   margin-left: 85px;
    font-family: arial black;
    font-size: 19px;
    letter-spacing: 1px;
    color: #f7f7f7;
    padding-bottom: 20px;
}

#download:hover {
	border-bottom: 3px solid white;
}


#resume {
	position: relative;
	margin-top: 30px;
}

#resume a {
	z-index: 2;
	position: relative;
	top: 10px;
	text-decoration: none;
    color: #f7f7f7;
    font-family: impact;  
    font-size: 30px;
    letter-spacing: 1px;
    white-space: nowrap;
    padding-bottom: 5px;
    //border-bottom: 1px solid white;
}

#my_canvas {
	border: 1px dashed
}

#print {
	display: inline-block;
	position: relative;
	top: 30px;
	left: 75%;
	font-family: arial black;
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

#print:hover {
	cursor: pointer;
	border-bottom: 3px solid white;
} 

.left_bloc {
   // order: 1;
    display: inline-block;
    //position: absolute;
    width: 280px;
    margin-left: 90px;
   // margin-top: 110px;
}

.right_bloc {
    display: inline-block;
    position: relative;
    width: 280px;
    right: -30%;
    //margin-top: 180px;
}

.skills {
	padding: 10px;
	border-radius: 5px;
}

.software {
	padding: 10px;
	border-radius: 5px;
	//margin-top: -5px;
}

.OS {
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
}

.skills h3, .software h3, .OS h3{
    font-family: arial black;
    font-size: 16px;
    color: white;//#7c7c7c;
    margin-left: 10px;
    background-color: #434343;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 4px;
    height: 30px;
    //box-shadow: 1px 1px 5px black;
    transform: skew(-10deg);
}

.contacts h3, .education h3, .languages h3{
    font-family: arial black;
    font-size: 16px;
    color: white;//#7c7c7c;
    background-color: #434343;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
    height: 30px;
    //box-shadow: 1px 1px 5px black;
    transform: skew(-10deg);
    /* text-align: right;
    font-family: arial black;
    font-size: 20px;
    color: #7c7c7c;
    margin-right: 10px; */
}

.all_content, .row_triangle, .row_triangle_second {
	background-color: #FBFBFB;
}

.skills h3 {
    width: 95px;
}

.software h3 {
    width: 130px;
}

.contacts {
	padding: 10px;
	width: 285px;
	border-radius: 5px;
}

.OS {
	//margin-top: 100px;
	padding: 10px;
	width: 255px;
	border-radius: 5px;
}

.contacts h3 {
    width: 128px;
    margin-left: 120px;
}

.education {
	padding: 10px;
	margin-top: -5px;
	width: 300px;
	border-radius: 5px;
	//margin-top: -5px;
}

.education h3 {
    width: 139px;
    margin-left: 120px;
}

/*.education hr:after {
	content:"";
    position: absolute;
    bottom: 0;
    left: -44%;
    right: 0;
    top: 502px;
    width: 35%;
    height: 1px;//0.5em;
    border-top: 1px dashed #dadada;
    z-index: 1;
   // transform: rotate(90deg);
} */

.languages {
	margin-top: -10px;
	padding: 10px;
	width: 285px;
	border-radius: 5px;
}

.languages h3 {
    width: 142px;
    margin-left: 120px;
}

/*.languages hr:after {
	content:"";
    position: absolute;
    bottom: 0;
    left: -44%;
    right: 0;
    top: 672px;
    width: 35%;
    height: 1px;//0.5em;
    border-top: 1px dashed #dadada;
    z-index: 1;
   // transform: rotate(90deg);
   
} */

.skills ul li {
    margin: 10px 0px 0px 10px;
    //font-family: cursive;
    font-family: Comic Sans;
    font-size: 17px;
    color: #7c7c7c;
}

.software ul li {
    margin: 10px 0px 10px 10px;
    font-family: Comic Sans;
    //font-family: cursive;
    font-size: 17px;
    color: #7c7c7c;
}

.OS ul li {
    margin: 10px 0px 10px 10px;
    font-family: Comic Sans;
    //font-family: cursive;
    font-size: 17px;
    color: #7c7c7c;
}

/*.OS hr:after {
	content:"";
    position: absolute;
    bottom: 0;
    left: 110%;
    right: 0;
    top: 764px;
    width: 35%;
    height: 1px;//0.5em;
    border-top: 1px dashed #dadada;
    z-index: 1;
   // transform: rotate(90deg);   
} */

.btn-default {
	position: relative;
	left: 100px;
	background-color: red;
}

.card-block {
	width: 300px;
	height: 100px;
	position: relative;
	left: 100px;
	margin-top: 20px;
}

.contacts ul li {
    margin: 10px 0px 20px 30px;
    font-family: Comic Sans;
    font-size: 17px;
    color: #7c7c7c;
    margin-right: 10px;
    margin-left: 30px;
}

.contacts ul i {
    //position: relative;
   // top: 10px;
    margin-right: 10px;
    margin-left: -15px;
}

.education p {
	margin: 10px 0px 10px 0px;
	padding: 10px 0px 10px 0px;
	font-family: Comic Sans;
    font-size: 14px;
    color: #7c7c7c;
}

.languages ul li {
    margin: 10px 0px 10px 10px;
    font-family: Comic Sans;
    //font-family: cursive;
    font-size: 17px;
    color: #7c7c7c;
}

/*.hr {
    width: 100%;
    height: 1px;
    //border: 1px solid black;
    box-shadow: inset 0px 0px 1px black;
} */

.my_photo img{
	position: relative;
	width: 130px;
	margin-top: 140px;
	left: 20px;
	z-index: 2;
}

.about_me h3 {
	display: inline-block;
	//position: relative;
	//left: 25px;
	//top: 40px;
  //  text-align: left;
    font-family: arial black;
    font-size: 20px;
    color: #7c7c7c;
    //margin-top: 15px;
	//background-color: #434343;
	width: 160px;
	height: 30px;
	padding-left: 10px;
	padding-top: 4px;
	//transform: skew(-5deg);
	border-radius: 5px;
}

.text_about {
	display: inline-block;
	position: relative;
	height: 150px;
	width: 410px;
	//bottom: 100px;
	left: 14%;
	border-radius: 4px;
	overflow: hidden;
	z-index: 1;
}

.text {
    font-family: cursive;
    font-family: Comic Sans;
    font-size: 15px;
    color: #7c7c7c;
   // margin-left: 25px;
   padding: 15px;
   //padding-left: 20px;
}

.triangle {
	z-index: 1;
	position: relative;
	//top: 5px;
	left: 3%;
	width: 0px;
    height: 0px;
    border-top: 35px solid #CC5759; //rgba(217, 62, 66, 0.86);
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
	//transform: rotate(45deg);
	//transform: skew(10deg);
}

.triangle_second {
    z-index: 1;
	position: relative;
	//top: 5px;
	left: 3%;
	width: 0px;
    height: 0px;
    border-bottom: 35px solid #CC5759; //rgba(217, 62, 66, 0.86);
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
	//transform: rotate(45deg);
	//transform: skew(10deg);
}

.circle {
	color: #dadada;
}

.steppers {
	margin-left: 45%;
	margin-top: -55px;
	align-content: center;
}

.steppers ul > li {
	margin-bottom: 50px;
}

/*a > .circle.one:after {
	content:"";
    position: absolute;
    bottom: 0;
    left: 3px;
    right: 0;
    top: 52px;
    width: 35px;
    height: 1px;//0.5em;
    border-top: 1px solid #dadada;
    z-index: 1;
    transform: rotate(90deg);

} */

/*a > .circle.two:after {
	content:"";
    position: absolute;
    bottom: 0;
    left: -80px;
    right: 0;
    top: 200px;
    width: 200px;
    height: 1px;//0.5em;
    border-top: 1px solid #dadada;
    z-index: 1;
    transform: rotate(90deg);
} */

a > .circle.three i {
	margin-top: 175px;
}

/*a > .circle.three:after {
	content:"";
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 0;
    top: 341px;
    width: 10px;
    height: 1px;//0.5em;
    border-top: 1px solid #dadada;
    z-index: 1;
    transform: rotate(90deg);

} */

a > .circle.four i {
	position: absolute;
	margin-top: -29px;
}


/*a > .circle.four:after {
	content:"";
    position: absolute;
    bottom: 0;
    left: -25px;
    right: 0;
    top: 425px;
    width: 90px;
    height: 1px;//0.5em;
    border-top: 1px solid #dadada;
    z-index: 1;
    transform: rotate(90deg);

} */

/*a > .circle.five:after {
	content:"";
    position: absolute;
    bottom: 0;
    left: -10px;
    right: 0;
    top: 535px;
    width: 60px;
    height: 1px;//0.5em;
    border-top: 1px solid #dadada;
    z-index: 1;
    transform: rotate(90deg);

} */

a > .circle.five i {
	position: absolute;
	margin-top: 99px;
}

a > .circle.six i {
	position: absolute;
	margin-top: 194px;
}

/*.skills hr:after {
	content:"";
    position: absolute;
    bottom: 0;
    left: 110%;
    right: 0;
    top: 190px;
    width: 35%;
    height: 1px;//0.5em;
    border-top: 1px dashed #dadada;
    z-index: 1;
   // transform: rotate(90deg);
} */

/*.software hr:after {
	content:"";
    position: absolute;
    bottom: 0;
    left: 110%;
    right: 0;
    top: 541px;
    width: 35%;
    height: 1px;//0.5em;
    border-top: 1px dashed #dadada;
    z-index: 1;
   // transform: rotate(90deg);
} */

.progress {
	transform: skew(-20deg);
}

.languages .progress {

}

.html {
	animation: width_html 1s;
    animation-timing-function: ease;
}

@keyframes width_html {
    from {
        width: 30%;
    }
    to {
        width: 90%;
    }
}

.css {
	animation: width_css 1s;
    animation-timing-function: ease-in-out;
}

@keyframes width_css {
    from {
        width: 30%;
    }
    to {
        width: 80%;
    }
}

.javascript {
	animation: width_JS 1s;
    animation-timing-function: ease-out;
}

@keyframes width_JS {
    from {
        width: 30%;
    }
    to {
        width: 70%;
    }
}

.CSharp {
	animation: width_CSharp 1s;
    animation-timing-function: ease;
}

@keyframes width_CSharp {
    from {
        width: 30%;
    }
    to {
        width: 60%;
    }
}

.Cplus {
	animation: width_Cplus 1s;
    animation-timing-function: linear;
}

@keyframes width_Cplus {
    from {
        width: 30%;
    }
    to {
        width: 45%;
    }
}

.Java {
	animation: width_Java 1s;
    animation-timing-function: ease;
}

@keyframes width_Java {
    from {
        width: 30%;
    }
    to {
        width: 55%;
    }
}

/*.contacts hr:after {
	content:"";
    position: absolute;
    bottom: 0;
    left: -44%;
    right: 0;
    top: 260px;
    width: 35%;
    height: 1px;//0.5em;
    border-top: 1px dashed #dadada;
    z-index: 1;
   // transform: rotate(90deg);
} */

.row {
	//border: 1px solid black;
} 

.col-xs-4 {
	//border: 1px solid black;
}

.footer {
	height: 380px;
    //width: auto;
    background-color: rgba(196, 61, 63, 0.86);//rgba(217, 62, 66, 0.86);
   // padding-top: 20px;
   border-radius: 4px;
}